html {
  color: black;
}
head {
  color: black;
}
meta {
  color: black;
  font-size: 0px;
}
title {
  color: black;
  font-size: 0px;
}
link {
  color: black;
  font-size: 0px;
}
body {
  color: black;
  font-size: 0px;
}
header {
  color: black;
  font-size: 0px;
}
nav {
  color: black;
  font-size: 0px;
}
ul {
  color: black;
  font-size: 0px;
}
li {
  color: black;
  font-size: 0px;
}
a {
  color: black;
  font-size: 0;
}
h1 {
  color: black;
  font-size: 0px;
}
h2 {
  color: black;
  font-size: 0px;
}
h3 {
  color: black;
  font-size: 0px;
}
h4 {
  color: black;
  font-size: 0px;
}
h5 {
  color: black;
  font-size: 0px;
}
main {
  color: black;
  font-size: 0px;
}
section {
  color: black;
  font-size: 0px;
}
div {
  color: black;
  font-size: 0px;
}
img {
  font-size: 0px;
}
p {
  color: black;
  font-size: 0px;
}
footer {
  color: black;
  font-size: 0px;
}
